altair==4.0.0
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.1
astroid==2.2.5
attrs==19.1.0
backcall==0.1.0
base58==1.0.3
bleach==3.1.0
blinker==1.4
bokeh==1.2.0
boto3==1.10.37
botocore==1.13.37
Cartopy==0.17.0
certifi==2019.3.9
cffi==1.12.3
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.1.1
colorama==0.4.1
colorcet==2.0.1
cryptography==2.7
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.2.2
datashader==0.6.8
datashape==0.5.4
decorator==4.4.0
defusedxml==0.6.0
descartes==1.1.0
distributed==1.28.1
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
Fiona==1.8.4
Flask==1.0.3
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.18.2
GDAL==2.3.3
geopandas==0.4.1
geoviews==1.6.2
heapdict==1.0.0
holoviews==1.12.3
hvplot==0.4.0
idna==2.8
imageio==2.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
llvmlite==0.28.0
locket==0.2.0
lxml==4.6.2
mapclassify==2.0.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
msgpack==0.6.1
multipledispatch==0.6.0
munch==2.3.2
nbconvert==5.5.0
nbformat==4.4.0
netCDF4==1.4.2
networkx==2.3
notebook==5.7.8
numba==0.43.1
numpy==1.16.4
olefile==0.46
OWSLib==0.17.1
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
panel==0.6.0
param==1.9.1
parso==0.4.0
partd==0.3.10
pathtools==0.1.2
pickleshare==0.7.5
Pillow==6.2.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.11.1
psutil==5.6.2
psycopg2==2.7.6.1
pycparser==2.19
pyct==0.4.6
pyepsg==0.4.0
Pygments==2.4.2
pykdtree==1.3.1
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyproj==1.9.6
pyrsistent==0.15.2
pyshp==2.1.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
pyviz-comms==0.7.2
PyWavelets==1.0.3
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.5.1
requests==2.22.0
Rtree==0.8.3
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.2.1
Send2Trash==1.5.0
Shapely==1.6.4.post1
six==1.12.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.3
streamlit==0.51.0
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.36.1
traitlets==4.3.2
typed-ast==1.3.4
tzlocal==2.0.0
urllib3==1.24.2
validators==0.14.1
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
WTForms==2.2.1
xarray==0.12.1
zict==0.1.4
